.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 50px;
    color: #2c3e50;
}

.description {
    max-width: 600px;
    font-size: 18px;
    color: #7f8c8d;
    line-height: 1.6;
    margin-bottom: 36px;
}

.registerButton {
    background-color: #2c3e50;
    color: #fff;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 6px 18px #2c3e50;
    transition: all 0.3s ease;
}

.registerButton:hover {
    transform: translateY(-3px);
    background-color: #7f8c8d;
    color: #2c3e50;
}